@charset "UTF-8";
:root {
    --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
    --cor1: #3FE092;
    --cor2: #3BD48A;
    --cor3: #34BA79;
    --cor4: #299460;
    --cor5: #185437;
}
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}
* {
    margin: 0px;
}
body {
    font: normal 1.1em Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(180deg, var(--cor2), var(--cor3));
    background-attachment: fixed;
}
header {
    background-image: linear-gradient(180deg, var(--cor2), var(--cor5));

    color: white;
    text-align: center;

    padding: 1.5em;
}
main {
    padding: 10px;
    width: 70%;
    background-color: white;
    margin: 0px auto;
}
a {
    padding: 2px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
a:hover {
    color: var(--cor1);
    padding: 3px;
    border-radius: 5px;
    background-color: var(--cor5);
    transition-duration: .5s;
}
img {
    width: 100%;
}
iframe {
    background-color: var(--cor5);
    padding: 5% 5%;
    display: block;
    width: 90%;
    margin: 0px auto;
}
h3, h2 {
    font-family: "Android", sans-serif;
    color: var(--cor5);
    background-image: linear-gradient(90deg, var(--cor1), white);
}
h4 {
    font-size: 1.5em;
}
footer {
    background-color: #185437;
    color: white;
    text-align: center;
}